<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sinnaps.cloud"
        version   = "1.0.7">

    <name>Sinnaps | Project management</name>

    <description>
    </description>

    <author href="https://www.sinnaps.com" email="helpdesk@sinnaps.com">
        Sinnaps
    </author>

    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="phonegap-version" value="cli-6.5.0" />
	
    <icon src="icon.png" />
    <icon src="icon_57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icon_72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icon_76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icon_114.png" gap:platform="ios" width="114" height="114" />
    <icon src="icon_120.png" gap:platform="ios" width="120" height="120" />
    <icon src="icon_144.png" gap:platform="ios" width="144" height="144" />
    <icon src="icon_152.png" gap:platform="ios" width="152" height="152" />

    <gap:splash src="splash_640x920.png" gap:platform="ios" width="640" height="920" />
    <gap:splash src="splash_640x1096.png" gap:platform="ios" width="640" height="1096" />
    <gap:splash src="splash_640x1136.png" gap:platform="ios" width="640" height="1136" />
	
    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>
	
	<gap:config-file platform="ios" parent="CFBundleVersion">
    <string>1.0.0</string>
    </gap:config-file>

	<plugin name="cordova-plugin-whitelist"/>
	<access origin="https://*.sinnaps.com"/>
    <access origin="https://*.googleapis.com"/>
    <access origin="https://*.google.com"/>
    <access origin="https://*.gstatic.com"/>
    <access origin="https://*.google-analytics.com"/>
    <access origin="https://*.intercom.io"/>
    <access origin="https://*.mxpnl.com"/>
    <access origin="https://*.ravenjs.com"/>
    <access origin="https://*.sentry.io"/>
    <access origin="https://*.smartlook.com"/>
	<access origin="content:///*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-navigation href="*://*.sinnaps.com/*"/>
    <allow-navigation href="*://*.googleapis.com/*"/>
    <allow-navigation href="*://*.google.com/*"/>
    <allow-navigation href="*://*.gstatic.com/*"/>
    <allow-navigation href="*://*.google-analytics.com/*"/>
    <allow-navigation href="*://*.intercom.io/*"/>
    <allow-navigation href="*://*.mxpnl.com/*"/>
    <allow-navigation href="*://*.ravenjs.com/*"/>
    <allow-navigation href="*://*.sentry.io/*"/>
	<allow-navigation href="*://*.smartlook.com/*"/>
</widget>